/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 17, 2022, 8:11:12 PM
    Author     : nguye
*/
/*-- Blog Section CSS --*/
#blog {
    width: 100%;
    float: left;
    padding: 50px 0px;
}
.blog-post h2 {
    font-size: 20px;
    margin: 10px 0px;
}
.blog-post h2 a {
    color: #333;
}
.blog-post p {
    color: #505050;
}
#blog .section-title {
    padding: 20px 0px 5px;
    background-color: #fafafa;
    border-radius: 10px;
    margin-bottom: 30px;
}
#blog .blog-post {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 30px 30px 0px -20px #EEEEEE;
    background: #fff;
    border: 1px solid #e6e6e6;
    position: relative;
    overflow: hidden;
    z-index: 99999;
    margin-bottom: 30px;
}
#blog .blog-post .post-thumb {
    max-height: 210px;
    overflow: hidden;
}

div[class^="col"] {
    margin-bottom: 50px;
}
/*-- End Blog Section CSS --*/
