<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminCategoryCreate</servlet-name>
        <servlet-class>Controller.AdminCategoryCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryDelete</servlet-name>
        <servlet-class>Controller.AdminCategoryDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryList</servlet-name>
        <servlet-class>Controller.AdminCategoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryUpdate</servlet-name>
        <servlet-class>Controller.AdminCategoryUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>Controller.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserList</servlet-name>
        <servlet-class>Controller.AdminUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerDashbroad</servlet-name>
        <servlet-class>Controller.SellerDashbroad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProductCreate</servlet-name>
        <servlet-class>Controller.SellerProductCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProductDelete</servlet-name>
        <servlet-class>Controller.SellerProductDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProductList</servlet-name>
        <servlet-class>Controller.SellerProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProductUpdate</servlet-name>
        <servlet-class>Controller.SellerProductUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>Controller.StoreMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controller.StoreBuy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUserDisplay</servlet-name>
        <servlet-class>Controller.ProfileUserDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUserUpdate</servlet-name>
        <servlet-class>Controller.ProfileUserUpdate</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>StoreProductList</servlet-name>
        <servlet-class>Controller.StoreProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBlogList</servlet-name>
        <servlet-class>Controller.UserBlogList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBlogDetails</servlet-name>
        <servlet-class>Controller.UserBlogDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBlogUpdate</servlet-name>
        <servlet-class>Controller.UserBlogUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBlogCreate</servlet-name>
        <servlet-class>Controller.UserBlogCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSupportCenterCreate</servlet-name>
        <servlet-class>Controller.AdminSupportCenterCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSupportCenterUpdate</servlet-name>
        <servlet-class>Controller.AdminSupportCenterUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTypeSupportCenterList</servlet-name>
        <servlet-class>Controller.AdminTypeSupportCenterList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTypeSupportCenterCreate</servlet-name>
        <servlet-class>Controller.AdminTypeSupportCenterCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTypeSupportCenterUpdate</servlet-name>
        <servlet-class>Controller.AdminTypeSupportCenterUpdate</servlet-class>
    </servlet>
    <servlet>        
        <servlet-name>ProfileUserChangePassword</servlet-name>
        <servlet-class>Controller.ProfileUserChangePassword</servlet-class>
    </servlet>
    <servlet>        
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>Controller.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreProductDetail</servlet-name>
        <servlet-class>Controller.StoreProductDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCategoryCreate</servlet-name>
        <url-pattern>/admin/category/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryDelete</servlet-name>
        <url-pattern>/admin/category/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryList</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryUpdate</servlet-name>
        <url-pattern>/admin/category/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserList</servlet-name>
        <url-pattern>/admin/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerDashbroad</servlet-name>
        <url-pattern>/seller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProductCreate</servlet-name>
        <url-pattern>/seller/product/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProductDelete</servlet-name>
        <url-pattern>/seller/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProductList</servlet-name>
        <url-pattern>/seller/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProductUpdate</servlet-name>
        <url-pattern>/seller/product/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUserDisplay</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUserUpdate</servlet-name>
        <url-pattern>/profile/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreProductList</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBlogList</servlet-name>
        <url-pattern>/user/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBlogDetails</servlet-name>
        <url-pattern>/user/blog/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBlogUpdate</servlet-name>
        <url-pattern>/user/blog/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBlogCreate</servlet-name>
        <url-pattern>/user/blog/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>        
        <servlet-name>AdminSupportCenterCreate</servlet-name>
        <url-pattern>/admin/qna/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSupportCenterUpdate</servlet-name>
        <url-pattern>/admin/qna/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTypeSupportCenterList</servlet-name>
        <url-pattern>/admin/qna-type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTypeSupportCenterCreate</servlet-name>
        <url-pattern>/admin/qna-type/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTypeSupportCenterUpdate</servlet-name>
        <url-pattern>/admin/qna-type/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>        
        <servlet-name>ProfileUserChangePassword</servlet-name>
        <url-pattern>/profile/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>        
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreProductDetail</servlet-name>
        <url-pattern>/product/detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
