<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminCategoryCreate</servlet-name>
        <servlet-class>Controller.AdminCategoryCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryDelete</servlet-name>
        <servlet-class>Controller.AdminCategoryDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryList</servlet-name>
        <servlet-class>Controller.AdminCategoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryUpdate</servlet-name>
        <servlet-class>Controller.AdminCategoryUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>Controller.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserList</servlet-name>
        <servlet-class>Controller.AdminUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerDashbroad</servlet-name>
        <servlet-class>Controller.SellerDashbroad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerMess</servlet-name>
        <servlet-class>Controller.SellerMess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProductCreate</servlet-name>
        <servlet-class>Controller.SellerProductCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProductDelete</servlet-name>
        <servlet-class>Controller.SellerProductDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProductList</servlet-name>
        <servlet-class>Controller.SellerProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProductUpdate</servlet-name>
        <servlet-class>Controller.SellerProductUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>Controller.StoreMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controller.StoreBuy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProductList</servlet-name>
        <servlet-class>Controller.StoreProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>ControllerStore.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUpdate</servlet-name>
        <servlet-class>ControllerStore.ProfileUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCategoryCreate</servlet-name>
        <url-pattern>/admin/category/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryDelete</servlet-name>
        <url-pattern>/admin/category/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryList</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryUpdate</servlet-name>
        <url-pattern>/admin/category/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserList</servlet-name>
        <url-pattern>/admin/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerDashbroad</servlet-name>
        <url-pattern>/seller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerMess</servlet-name>
        <url-pattern>/seller/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProductCreate</servlet-name>
        <url-pattern>/seller/product/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProductDelete</servlet-name>
        <url-pattern>/seller/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProductList</servlet-name>
        <url-pattern>/seller/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProductUpdate</servlet-name>
        <url-pattern>/seller/product/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUpdate</servlet-name>
        <url-pattern>/profile/update</url-pattern>

        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProductList</servlet-name>
        <url-pattern>/userProductList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>