<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController_UD</servlet-name>
        <servlet-class>controller.CategoryController_UD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController_Search</servlet-name>
        <servlet-class>controller.CategoryController_Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category_Update</servlet-name>
        <servlet-class>controller.Category_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category_Create</servlet-name>
        <servlet-class>controller.Category_Create</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController_UD</servlet-name>
        <url-pattern>/category_ud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController_Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category_Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category_Create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
